@charset "UTF-8";

/* Mobile First */

:root { /* Paleta de cores */
    --azul:#0078D7 ;
    --cinza: #d6d6d6;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
}

main {
    width: 100vw;
    height: 100vh;
}

section#login {
    display: flex;
    justify-content: center;
    align-items: center;

}

div#titulo {
    margin-bottom: 10px;
}

div#formulario {
    display: block;
    border: 1px solid var(--cinza);
    border-radius: 7px;
    padding: 15px;
}

input { /* TextBox */
    background-color:var(--cinza);
    border: none;
    border-radius: 6px;
    display: flex;
    width: 268px;
    height: 33px;
    margin: 5px 0px 5px 0px;
    text-indent: 10px;
}

::placeholder {
   font-weight: 500;
}

button {
    display: block;
    background-color: var(--azul);
    height: 33px;
    width: 268px;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 500;
}

div#button-group {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

