@charset "UTF-8";

/* Mobile First */

:root {
    --azul:#0078D7 ;
    --azul-claro: #E8F0FE;
    --cinza: #d6d6d6;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    width: 90%;
    max-width: 300px;
}

div#capa {
    background-color: var(--cinza);
    border-radius: 7px 7px 0px 0px;
    padding: 12px;
    width: 276px;
    height: 75px;
}

#form-header {
    margin-bottom: 10px;
}

#login-form {
    display: block;
    border: 1px solid var(--cinza);
    border-radius: 0px 0px 7px 7px;
    padding: 15px;
}

input { /* TextBox */
    background-color:var(--cinza);
    border: none;
    border-radius: 6px;
    width: 268px;
    height: 33px;
    margin: 5px 0px 2px 0px;
    text-indent: 10px;
}

input:focus {
    outline: 2px solid var(--azul);
}

button {
    display: inline-block;
    background-color: var(--azul);
    height: 33px;
    width: 268px;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    margin-top: 4px;
}

div#button-group {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

::placeholder {
    font-weight: 500;
}