@charset "UTF-8";

/* Tablet: 768px até 992px */

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login {
        width: 90vw;
    }

    section#login > div#capa {
        float: left;
        max-width: 25%;
        height: 100%;
        
    }

    section#login > div#formulario { 
        float: right;
        width: 75%;
        height: 100%;
    }
}

@media screen and (min-width: 992px) {
    section#login {
        width: 900px;
    }

    section#login > div#capa {
        float: left;
        width: 50%;
        height: 100%;
    }
}