@charset "UTF-8";

/* Tablet: 768px até 992px */

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    section#login {
        width: 90vw;
    }

    section#login > div#capa {
        float: left;
        max-width: 25%;
        height: 100%;
        
    }

    section#login > div#formulario { 
        float: right;
        width: 75%;
        height: 100%;
    }
}

@media screen and (min-width: 992px) { /* Telas maiores */
    section#login {
        width: 750px;
        height: 340px;
    }

    section#login > div#capa {
        float: left;
        background: url(../imagens/capa-grande.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin: 25px 10px 0px 0px;
        width: 320px;
        height: 280px;
    }

    section#login > div#formulario {
        float: right;
        width: 55%;
        height: 100%;
        padding-left: 20px;
    }

    div.botoes > button {
        width: 380px;
    }

    div.titulo > h1, p {
        margin-top: 7px;
        text-align: left;
    }

    footer > p {
        text-align: center;
    }
}